body{
	background-color: yellow;
	background-size: cover;
}
html{
	position: absolute;
	font: 16px;
	font:sans-serif;
	
}
h1{
	color:blue;
}
.boldClass{
	font-weight: bold;
	font-family:"Times New Roman", serif;

}
#bigID{
	font-size: 24px;
}
h3{
	display:block;
	position:relative;
}
.italicClass{
	font-weight: italic;
	font-feature-settings: initial;
}
.smallClass{
	font-size: 10px;
}
