body{
	align: center;
	background-image: url("stadium.jpg");
	color: rgb(210,10,10);
	font-weight: bold;
}
table{
	table-layout: center;
	text-align: center;

}
h1{
	font-family: sans-serif, Georgia, serif;
	font-style: italic, underline;
	text-align: center;
	font-weight: bold;
	color: white;
}
h2{
	font-family: sans-serif, Georgia, serif;
	font-style: italic, underline;
	text-align: center;
	font-weight: bold;
	color: white;
}
h3{
	font-family: sans-serif, Georgia, serif;
	font-style: italic, underline;
	text-align: center;
	font-weight: bold;
	color: white;
}
p{
		
}
footer{

}
nav{
	overflow: hidden;
	position: fixed;
    top: 0;
    width: 100%;

}
section{

}
ol{
	align-self: center;

}
ul ~ header{

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
#titleID{
	color: white;
	font-size: 400%
}
.centerClass{

}

